<div class="container" style="margin-top: 100px;">
<div class="row"> 
  <div class="col-xs-6 col-sm-1"></div>
  <div class="col-xs-8 col-sm-10">
        <div class="card">
            <div class="card-header" style="background: 		#5f92b8; color:white">
              <h3 style="text-align: center">Login do Usuário</h3>
            </div>
                  <div class="card-block">
                      <form class="form-group row" [formGroup]="loginForm">
                        <div [ngClass]="onFormGroup()"> 
                        <label for="">CNPJ</label>
                        <input 
                        type="text" 
                        [ngClass]="onFormControl()"
                        name="ccnpj"
                        id="ccnpj"
                        (keyup.enter)="onGetCpj()"
                        formControlName="ccnpj"
                        appMascara="99.999.999/9999-99"
                        placeholder="__.___.___/____-__"
                        >
                         <div class="form-control-feedback" 
                            *ngIf="showCnnpj"> {{cnpjInvalido}}
                         </div>
                      </div>

                     <div class="col-xs-12 col-md-6"> 
                        <label for="">Empresa</label> 
                      <input type="text" 
                        class="form-control"
                        name="empresa"
                        formControlName="empresa"
                        placeholder="..."
                        [ngModel]="empresa" >
                        </div>

                        <div class="col-sm-12">
                          <label for="servico">Serviço</label>
                          <select class="form-control" 
                          id="selectServico" formControlName="servico">
                            <option *ngFor="let s of servico" > {{ s }} </option>
                          </select>
                        </div>

                        
                        <div [ngClass]="onFormgroupCpf(loginForm.get('cucpf').valid , loginForm.get('cucpf').pristine)"> 
                        <label for="">CPF</label>
                        <input 
                          type="text" 
                          [ngClass]="onControlCpf(loginForm.get('cucpf').valid , loginForm.get('cucpf').pristine)"
                          name="cpf"
                          formControlName="cucpf"
                          appMascara="999.999.999-99"
                          placeholder="___.___.___-__"
                          (keyup.enter)="onGetUsuario()"> 
                      </div>

                      <div class="col-xs-12 col-md-6">
                        <label for="">Usuário</label> 
                      <input type="text" 
                          class="form-control"
                          name="usuario"
                          placeholder="..."
                          formControlName="usuario"
                        >
                        </div>

                      <div class="col-xs-12 col-sm-12">
                        <label for="">Senha</label> 
                      <input type="text" 
                        class="form-control"
                        name="senha"
                        formControlName="cusenha"
                       >
                        </div>

                </form>
                       <div style="text-align: center">
                        <button type="submit" 
                        class="btn btn-primary
                         col-xs-12" 
                         (click)="onGetCpj()"
                         tyle="margin-right: 2px; margin-bottom: 5px">Acessar</button>

                        <button type="submit" 
                        class="btn btn-secondary col-xs-12" 
                        style="margin-right: 2px; margin-bottom: 5px" (click)="onGetAllCnpj()">Fazer Cadastro</button>
                        
                        <div>
                         <a  style="color:blue;" routerLink="/cadastro">Esqueci Minha Senha</a>
                        </div>
                        </div>
            </div>
        </div>
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-1"></div>
</div>
</div>
</div>